<!-- Header -->
    <header class="masthead bg-Cprimary text-white text-center">
      <div class="container">
        
        <h1 class="text-uppercase mb-0">Nico Santarin</h1>
<h2 class="font-weight-light mb-0" id="aboutme">KPU Student - Web Developer - Software Developer</h2>
        <hr class="customline">
        <img class="img-fluid mb-4 d-block mx-auto" src="img/profile1.jpg" alt="" >
    
      <br>

        <h3 class="font-weight-light mb-0">Hi, I am a 23 year old developer based out of Vancouver. I am currently in my 4th year at Kwantlen Polytechnic University in pursuit of my BTech in IT. I am an inspiring developer who loves to design and code. My interests include front end and back end programming, my hobbies include videogames, recreational sports, the gym and working on cars.</h3>
      </div>

      <br>
    </header>