<!-- Grid -->
<section class="portfolio text-white" id="myprojects">
      <div class="container">
        <h1 class="text-center text-uppercase text-secondary mb-0 ">Projects</h1>
        <hr class="customline">
        <div class="row">

          <div class="col-md-6 ">
            <a class="portfolio-item d-block mx-auto" data-toggle="modal" data-target="#portfolio-Modal1" >

              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100" >
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-muted">
                  <span class="fa fa-search-plus fa-3x" aria-hidden="true"></span>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio1SM.jpg" alt="" > 
            </a>
          </div>
			<div class="modal fade text-muted" id="portfolio-Modal1" role="dialog">
			    <div class="modal-dialog modal-lg">
			      <div class="modal-content">
			        <div class="modal-header">
			          
			          <h4 class="modal-title">ConnectED</h4>
			       
			        </div>
			        <div class="modal-body">
			        	<img class="img-fluid" src="img/portfolio1BG.jpg" alt="">
			          <p>Educational Collaborative Platform.</p>
			        </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-default bg-Cprimary" data-dismiss="modal"><span class="fa fa-times-circle" aria-hidden="true"></span>
                  Close </button>
			        </div>
			      </div>
			    </div>
			  </div>



          <div class="col-md-6 ">
            <a class="portfolio-item d-block mx-auto" data-toggle="modal" data-target="#portfolio-Modal2">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-muted">               <span class="fa fa-search-plus fa-3x" aria-hidden="true"></span>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio2SM.jpg" alt="">
            </a>
          </div>
          <div class="modal fade text-muted" id="portfolio-Modal2" role="dialog">
			    <div class="modal-dialog modal-lg">
			      <div class="modal-content">
			        <div class="modal-header">
			          
			          <h4 class="modal-title">EDEN</h4>

			        </div>
			        <div class="modal-body">
			        	<img class="img-fluid" src="img/portfolio2BG.jpg" alt="">
			          <p>Scheduling and Payroll System.</p>
			        </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-default bg-Cprimary" data-dismiss="modal" ><span class="fa fa-times-circle" aria-hidden="true"></span> Close</button>
			        </div>
			      </div>
			    </div>
			  </div>
        
      </div>
  </div>
</section>