import React from 'react'
import axios from 'axios'
export default class Realtime extends React.Component {

  // axios.get('/realtime/reactshow??getRtJson=true').then(function(response) {
  //   console.log(response);
  // }).catch(function(error) {
  //   console.log(error);
  // });
render () {
  return (
    <div className='Home'>
    <h1>Real Time Data Update Page</h1>
  </div>
)}
}
