<div class="page-header">
<link rel="stylesheet" type="text/css" href="css/titleanimate.css">
<div class="animate two">
            <span>W</span><span>e</span><span>l</span><span>c</span><span>o</span><span>m</span><span>e</span> 


<a href="/realtime/show" class="btn btn-success btn-block .btn-lg">Click to View Realtime Data</a>

<a href="/users/control" class="btn btn-success btn-block .btn-lg">Click to View User Settings</a>
<img class="img-rounded w-100" src="img/kpu-logo.jpg" >

</div>