<div class="page-header">
<head>
 <h2>User Settings</h2>
</head>

<body>

  <form class="usersForm" action="/users/submit"   method="POST">
            <div class="FormContainer">

              <p>Please use this form to change user settings.</p>


              <p><label><b> ID Number  </b></label>

              <input type="num" placeholder="Enter ID#" name="id" required></input></p>

              <p><label><b> First Name  </b></label>
              <input type="text" placeholder="Enter First Name" name="firstname" required></input></p>

              <p><label><b> Last Name  </b></label>
              <input type="text" placeholder="Enter Last Name" name="lastname" required></input></p>



              <div class="btn-group">
                <button type="submit" >Create User (POST)</button>
                <button type="button" >Update User (PUT)</button>
                <button type="button" >Delete User</button>
                <button type="button" >Cancel</button>
              </div>
              <br></br>
            </div>
          </form>

</body>





<script>
// //add a user
// function addUser(req, res){
// 	var userAdd = req.params;
// 	var id = Number(userAdd.id)
// 	var firstname = userAdd.firstname;
// 	var lastname = userAdd.lastname;
//
// 	if(users[id]){
// 		var reply = {
// 			msg: "ID already exists."
// 		}
// 	}else{
// 	users[id] = firstname + " " + lastname;
//
// 	//write  to the file
// 		var data = JSON.stringify(users);
// 		fs.writeFile('mydatabase.json', data, finished);
// 		function finished(err){
//
// 		}
// 	}
// }


</script>



</div>
